@import url("/public/assets/css/topbar.css");
@import url("/public/assets/css/body.css");
@import url("/public/assets/css/gauth.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --brown1: #ede0d4;
    --brown2: #e6ccb2;
    --brown3: #ddb892;
    --brown4: #b08968;
    --brown5: #7f5539;
    --brown6: #9c6644;

    --bg-primary: var(--brown5);
    --bg-secondary: var(--brown2);

    --accent-color: var(--brown3);
}

#title {
    font-size: 10vh;
}

html{
    color: var(--brown5);
    height: 100%;
    background-color: var(--brown1);
}

body{
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

*{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

h1{
    font-size: 3em;
}

a {
    color: var(--accent-color);
}

main {
    text-align: center;
}

#MAIN_APP{
    height: 100%;
}

#MAIN_APP > div{
    height: 100%;
}