.topbar {
    background-color: var(--bg-primary);
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
}

.topbar .TopBarElement{
    padding: 10px;
    text-decoration: none;
    width: 10em;
    text-align: center;
    border-style: solid;
    border-color: var(--brown4);
    color: var(--brown2);
    font-size: 3vh;
}

.topbar .TopBarElement:hover{
    background-color: var(--brown4);
}

.bottomBar{
    color: var(--accent-color);
    background: var(--bg-primary);
    padding: 5vh;
    display: flexbox;
    text-align: center;
    align-items: center;
    height: 20%;
}

.bottomBar > * {
    margin: 10px;
}